@(registerForm: Form[(String, String, String, String)])(implicit session: play.api.mvc.Session)

@import helper._
@import play.api.data
@import play.api.data.Forms._


@wrap {
    <h1>Register</h1>

    @form((new main.controllers.ReverseMain).newUser) {
        @inputText(registerForm("First name"))
        @inputText(registerForm("Family name"))
        @inputText(registerForm("Email address"))
        @inputText(registerForm("Password"))
        <input type="submit" value="Register">
    }
}()
