@()(implicit session: play.api.mvc.Session)

@main.views.html.mainView {
  <div class="divCenter" id="introduction">
      <h1>Survey about your favorite colors</h1>
      <p>You will have to answer some questions about your favorite colors.</p>
      <p>Please fill out one question and then press on the 'Next'-Button.</p>

  </div>

  <div class="divCenter" id="question">
  </div>

  <div class="divCenterBtn">
  	  <a id="next" class="btn btn-primary btn-large" href="#">Start!</a>
  </div>
  
}("javascripts/favoriteColors/script.js")

