<h1>What ist your favorite color?</h1>
<p>Check your favorite color:</p>

<label class="radio">
  <input type="radio" name="color" value="option1" value="Blue">
  Blue
</label>
<label class="radio">
  <input id="green" type="radio" name="color" value="Green">
  Green
</label>
<label class="radio">
  <input id="red" type="radio" name="color" value="Red">
  Red
</label>
<label class="radio">
  <input id="cyan" type="radio" name="color" value="Cyan">
  Cyan
</label>
<label class="radio">
  <input id="yellow" type="radio" name="color" value="Yellow">
  Yellow
</label>
<label class="radio">
  <input id="orange" type="radio" name="color" value="Orange">
  Orange
</label>
